main {
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-wrapper {
    width: -webkit-fit-content; 
    width: -moz-fit-content; 
    width: fit-content;
    max-width: 70vw;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
    position: relative;
    color: white;
}

form {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

    form .inputBox {
        position: relative;
        width: 100%;
        color: white;
    }

        form .inputBox input {
            position: relative;
            width: 100%;
            background: #333;
            border: none;
            outline: none;
            padding: 25px 10px 7.5px;
            border-radius: 4px;
            color: #fff;
            font-weight: 500;
            font-size: 1em;
        }

        form .inputBox label {
            position: absolute;
            left: 0;
            padding: 15px 10px;
            font-style: normal;
            color: white;
            transition: 0.5s;
            pointer-events: none;
        }

        form .inputBox input:focus ~ label,
        form .inputBox input:valid ~ label {
            transform: translateY(-7.5px);
            font-size: 0.8em;
            color: #fff;
        }

.active-label {
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: #fff;
}

form a {
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

form .inputBox input:focus ~ label,
form .inputBox input:valid ~ label {
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: #fff;
}



input[type="submit"]:active {
    opacity: 0.6;
}

form button {
    padding: 10px;
    background-color: white;
    color: #000;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
}

    form button:hover {
        background-color: #b4b4b4;
    }

.active-button {
    background-color: #b4b4b4;
}

form span {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 4px;
}

form .check-container {
    color: white;
    display: flex;
    align-items: center;
    text-align: left;
}

    form .check-container label {
        margin: 1px;
        width: fit-content;
        height: fit-content;
    }

    form .check-container input {      
        width: 20px;
        height: 20px;
    }




.alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
}

.alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
    width: 30vw;
}

/* Location, Phone, Email Section */
.contact-list {
  text-align:left;
}

.list-item {
    line-height: 4;
    color: #aaa;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    margin-left: 10px;
    letter-spacing: 1.9px;
    color: #bbb;
}


.contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
}

    .contact-text a:hover {
        color: #fff;
        text-decoration: none;
    }


/* Social Media Icons */
.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

    .social-media-list li a {
        color: #fff;
    }

    .social-media-list li {
        position: relative;
        display: inline-block;
        height: 60px;
        width: 60px;
        margin: 10px 3px;
        line-height: 60px;
        border-radius: 50%;
        color: #fff;
        background-color: rgb(27,27,27);
        cursor: pointer;
        transition: all .2s ease-in-out;
    }

        .social-media-list li:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;
            line-height: 60px;
            border-radius: 50%;
            opacity: 0;
            box-shadow: 0 0 0 1px #fff;
            transition: all .2s ease-in-out;
        }

        .social-media-list li:hover {
            background-color: #fff;
        }

            .social-media-list li:hover:after {
                opacity: 1;
                transform: scale(1.12);
                transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
            }

            .social-media-list li:hover a {
                color: #000;
            }

.copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
}

hr {
    border-color: rgba(255,255,255,.6);
}


