/* Estilos para dispositivos móviles */
@media only screen and (max-width: 500px) {
   
}

/* Estilos para dispositivos de escritorio */
@media only screen and (min-width: 501px) {
    * {
        padding: 0;
        margin: 0;
    }

    body {
       
        background-color: white;
    }
    *, :before, :after {
        box-sizing: border-box;
    }
    main {
      text-align:center;  
    }
    header {
        position: fixed;
        width: 100%;
        top: 0;
        display: flex;
        justify-content: space-between;
        height: 10%;
        z-index: 100;
    }
    .right-container {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan a la siguiente línea si no caben */
        gap: 10px;
    }
    
        input:-webkit-autofill,
        input:-webkit-autofill:focus {
            transition: background-color 0s 600000s, color 0s 600000s !important;
        }
   .right-container * {
        box-sizing: border-box;
    }

   

    .search-box {
        
        width: fit-content;
        height: fit-content;
        position: relative;
        margin-top:30px;
        margin-right:30px;
    }

    .input-search {
        height: 30px;
        width: 0px;
        border-style: none;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 15px;
        transition: all .5s ease-in-out;
        background-color: black;
        padding-right: 40px;
        color: black;
    }

        .input-search::placeholder {
            color: black;
            font-size: 13px;
            letter-spacing: 2px;
            font-weight: 100;
        }

    .btn-search {
        width: 30px;
        height: 30px;
        margin-right:5px;
        border-style: none;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        color:white;
        background-color: transparent;
        pointer-events: painted;
    }

    .input-search-Active {
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid black;
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }
    .btn-search-Active {
        color: black;
    }

    .right-container a {
        margin-top: 30px;
        margin-right: 30px;
    }

    .right-container img {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    /*linesstyles*/
    .menu-icon {
        z-index: 2;
        width: fit-content;
        height: auto;
        /*background-color: rgba(255, 255, 255);*/
        background-color: transparent;
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 10px;
        position: absolute;
        border-radius: 4px;
        cursor: pointer;
    }

    .line1, .line2, .line3 {
        width: 35px;
        height: 4px;
        margin-bottom: 8px;
        background-color: #000;
        border-radius: 50px;
        transition: 0.2s;
    }

    .active .line1 {
        transform: translate(0px, 12px)rotate(45deg);
    }

    .active .line2 {
        opacity: 0;
    }

    .active .line3 {
        transform: translate(0px, -12px)rotate(-45deg);
    }
    .desactivar{
     opacity:0;
     display:none;
    }
    /*Menu styles*/
    .menu-container {
        width: 30%;
    }

    .menu-box {
        width: inherit;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.5);
        position: relative;
        text-align: left;
        z-index: 1;
        opacity: 0;
        left: -500px;
        pointer-events: none;
        transition: 0.3s;
    }

    .active_menu-box {
        width: initial;
        opacity: 1;
        left: 0px;
        pointer-events: fill;
    }
    .menu a {
        display: block;
        position: relative;
        z-index: 1;
        transition: 0.35s ease color;
        letter-spacing: 2px;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        padding: 1.1em 0;
        color: black;
        background-color: rgba(255, 255, 255, 0);
        font: 400 1.125em "Source Sans Pro", Helvetica, Arial, sans-serif;
        text-align: center;
        align-items: center;
        text-transform: uppercase;
    }

        .menu a:before {
            content: "";
            display: block;
            z-index: -1;
            position: absolute;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            background: #3C3735;
            transition: 0.35s ease left;
        }

        .menu a.is-current:before, .menu a:hover:before {
            left: 0;
        }

    /*Nav styles*/


    .main-nav {
        position: fixed;
        width: 30%;
        height: 100%;
        padding-top: 100px;
    }
       
        .main-nav .menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
         
        }
        .main-nav ul {
            border-top: #000;
        }

        .main-nav li {
            border-top: solid 1px #000;
        }
        .main-nav .menu > li {
              
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            .main-nav .menu > li > a:hover, .main-nav .menu > li > a:active, .main-nav .menu > li > a:focus {
                cursor: pointer;
                color: white;
            }

           
    .active .hidden-menu {
        width: 100%;
    }
  /*  .active .hidden-menu2 {
        width: 100%;
    }*/
               
              
/**/
    
   
 
  /*submenus*/
    .hidden-menu {
        width: 0;
        height: 100%;
        z-index: 3;
        padding-top: 100px;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        list-style-type: none;
        background: rgba(255, 255, 255);
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    .hidden-menu2 {
        width: 0;
        height: 100%;
        z-index: 4;
        padding-top: 100px;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        list-style-type: none;
        background: rgba(255, 255, 255);
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
        .hidden-menu img {
            width: 5%; /* Adjust width and height as needed */
            height: 5%;
            margin-right: 27%;
            margin-left: 10%;
        }
        #BackMenu {
            display:flex;  
            align-content:center;
        }

    .hidden-menu li > a:hover, .hidden-menu li > a:active, .hidden-menu li > a:focus {
        cursor: pointer;
        color: white;
    }
    .hidden-menu2 li > a:hover, .hidden-menu2 li > a:active, .hidden-menu2 li > a:focus {
        cursor: pointer;
        color: white;
    }




    


}






