* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container::-webkit-scrollbar {
    display: none;
}

.main-container {
    scroll-snap-type: y mandatory;
    overflow: scroll;
    height: 100vh;
}


section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.one {
    max-width: 100%;
    gap: 50px;
    overflow: hidden;
    text-align: center
}

.image-container {
    height: 80vh;
    width: 63vh;
    vertical-align: middle;
    border-radius: 100px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

    .image-container img {
        height: 80vh;
        width: 63vh;
        border-radius: 30px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

.two {
    align-items: center;
    display: grid;
}

.hi-slide {
    position: relative;
    width: 80vw;
    height: 15vw;
    border-radius: 50px;
}

    .hi-slide .hi-next,
    .hi-slide .hi-prev {
        position: absolute;
        width: 37px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        color: black;
        transition: all 0.7s;
        font-family: "DM Sans", sans-serif;
        font-size: 40px;
        border: 1px solid black;
        z-index: 20;
    }
    .hi-slide .hi-next p,
    .hi-slide .hi-prev p{
      margin-bottom: 4px;  
    }

        .hi-slide .hi-next:hover,
        .hi-slide .hi-prev:hover {
            opacity: 1;
            background-color: #F0EFEF;
        }

    .hi-slide .hi-prev {
        top: -50px;
        right: -40px;
    }

    .hi-slide .hi-next {
        top: -50px;
        right: -75px;
    }


    .hi-slide > ul {
        list-style: none;
        position: relative;
        width: 80vw;
        height: 15vw;
        margin: 0;
        padding: 0;
    }

        .hi-slide > ul > li {
            display: flex;
            justify-content: center; /* Centra horizontalmente */
            align-items: center; /* Centra verticalmente */
            overflow: hidden;
            position: absolute;
            z-index: 0;
            text-align: left;
            background-color: white;
            text-align: center;
        }

li img {
    width: auto;
    height: 10vw;
    margin: auto; /* Centra la imagen horizontalmente */
}

li h3,
li p {
    width: fit-content;
    font-size: 0.9vw; /* O el tamaño deseado */
    margin: auto; /* Centra vertical y horizontalmente */
}

    li h3:hover,
    li p:hover {
        text-decoration: underline;
        cursor: pointer;
    }

.three {
    background-color: #F0EFEF;
}

.four {
}

.five {
}
