* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container::-webkit-scrollbar {
    display: none;
}

.main-container {
    scroll-snap-type: y mandatory;
    overflow: scroll;
    height: 100vh;
}


section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    overflow-y:scroll;
}

.one {
    max-width: 100%;
    gap: 50px;
    overflow: hidden;
    text-align: center
}

.image-container {
    height: 80vh;
    width: 63vh;
    vertical-align: middle;
    border-radius: 100px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

    .image-container img {
        height: 80vh;
        width: 63vh;
        border-radius: 30px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

.two {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 6vh;
}

.hi-slide {
    position: relative;
    width: 80vw;
    height: 15vw;
    border-radius: 50px;
    display: flex;

}

    .hi-slide .hi-next,
    .hi-slide .hi-prev {
        width: 33px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        color: black;
        transition: all 0.7s;
        font-family: "DM Sans", sans-serif;
        font-size: 1.6vw;
        border: 1px solid black;
        z-index: 20;
       
    }
    .hi-slide .hi-next p,
    .hi-slide .hi-prev p{
      margin-bottom: 4px;  
    }

        .hi-slide .hi-next:hover,
        .hi-slide .hi-prev:hover {
            opacity: 1;
            background-color: #F0EFEF;
        }

  


    .hi-slide > ul {
        list-style: none;
        position: relative;
        width: 80vw;
        height: 15vw;
        margin: 0;
        padding: 0;
    }

        .hi-slide > ul > li {
            display: flex;
            flex-direction: column; /* Cambia el flujo a vertical */
            justify-content: center; /* Centra horizontalmente */
            align-items: center; /* Centra verticalmente */
            overflow: hidden;
            position: absolute;
            z-index: 0;
            text-align: left;
            background-color: white;
            text-align: center;
        }

li img {
    width: auto;
    height: 10vw;
    margin: auto; /* Centra la imagen horizontalmente */
}

li h3,
li p {
    width: fit-content;
    font-size: 0.9vw; /* O el tamaño deseado */
    margin: auto; /* Centra vertical y horizontalmente */
}

    li h3:hover,
    li p:hover {
        text-decoration: underline;
        cursor: pointer;
    }

.three {
    background-color: #F0EFEF;
}
/* Estilos para el pie de página */
footer {
    display: flex;
    width: fit-content;    
}

/* Estilos para los contenedores del pie de página */
.foot-container {
    border-right: 3px solid #ccc;
   margin-left: 30px;
   padding-right: 20px;
}
.foot-lastcontainer {
   
    margin-left: 30px;
    padding-right: 20px;
}
    .foot-container h2 {
        margin-bottom: 10px;
    }

    /* Estilos para el formulario de suscripción */
    .foot-container form {
        margin-top: 10px;
    }

form .inputBox {
    position: relative;
    width: 100%;
}

    form .inputBox input {
        position: relative;
        width: 200px;
        background-color: transparent;
        border-bottom: 1px solid black;
        border: none;
        outline: none;
        padding: 25px 10px 7.5px;
        border-radius: 4px;
        color: black;
        font-weight: 500;
        font-size: 1em;
    }

    form .inputBox label {
        position: absolute;
        left: 0;
        padding: 15px 10px;
        font-style: normal;
        color: black;
        transition: 0.5s;
        pointer-events: none;
    }

    form .inputBox input:focus ~ label,
    form .inputBox input:valid ~ label {
        transform: translateY(-7.5px);
        font-size: 0.8em;
        color: black;
    }



input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

input[type="submit"]:active {
    opacity: 0.6;
}

form button {
    padding: 10px;
    background-color: white;
    color: #000;
    cursor: pointer;
}

    form button:hover {
        background-color: #b4b4b4;
    }

.four {
}

.five {
}
